<div class="card">
  <!-- The contents of this card links to the game page using the game ID -->
  <a class='genre-link' href="/game/{{id}}">
    <!-- The card contains the game name as the card header -->
    <h3>{{game}}</h3>
    <p>{{platform}}</p>
    <p>{{score}}/10</p>
    <img src="{{image_url}}" alt="">
  </a>
</div>

