<a class="angled-img" href="/game/{{id}}">
  <div class="img-offset">
    <img src={{box_art_url}} alt="" />
  </div>
  <h1>{{name}}</h1>
</a>


<style>
  .angled-img {
    display: flex;
  }
</style>

{{!--
<section class="home" id="home">
  <div class="container-fluid">
    {{#each gameArr}}
    <div class="row">
      <div class="col" id="details">
        <a href="/book/{{game.id}}">

        </a>
        <h1>{{name}}</h1>

      </div>
    </div>
    {{/each}}
  </div>
</section> --}}