<div class="games">
  {{#each games}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/game/{{id}}">{{game}}</a>
      </h2>
      <div>
        {{!-- Posted by {{User.username}} on {{format_date createdAt}} --}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>