<link rel="stylesheet" href="/stylesheets/dashboard.css">
<link rel="stylesheet" href="/stylesheets/genre.css">
<!-- Main Dashboard -->
<div>
  <!-- Breadcrumbs-->
  <nav class="pt-3 pb-2 px-3 bc-bg"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item inactive" aria-current="page">Dashboard</li>
    </ol>
  </nav>

  <div class="row">
    <!-- Books Appear Here  -->
    <section class="books-list">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2 p-3" id="dash-title">{{name}}'s Dashboard</h2>
        <div class="btn-toolbar mb-2 mb-md-0"></div>
      </div>

    </section>
    <div>
      <div class="p-3">
        <h1>Your Games: </h1>
      </div>
      <div class="m-3 border border-3 rounded">
        <ul>
          {{#each games as |game|}}
          <a href="/game/{{game.id}}">
            <li>
              <h1>{{game.game}}</h1>
            </li>
          </a>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="text-white">
      <div class="p-3">
        <h1>Your Reviews: </h1>
      </div>
      <div class="m-3 border border-3 rounded p-3">
        <ul>
          {{#each reviews as |review|}}
          <a href="/game/{{review.game_id}}">
            <li>
              <p class="h2">"{{review.content}}" [{{format_date review.date_created}}]</p>
            </li>
          </a>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  #reddashboard {
    background-color: red;
    border-radius: 7px;
  }
</style>
<script src="/javascript/dashboard.js"></script>