<!-- Categories Section  -->

<section class="categories">
  <div class="category-header">
    <h1>{{genreTitle}}</h1>
  </div>
</section>

<!-- Jumbotron Section  -->

<section class="home" id="home">
  <div class="container-fluid">
    <div class="row">
      {{#each genres as |game|}}
      <div class="col" id="details">
        <a href="/book/{{game.id}}">
          <img src="{{game.image_url}}" alt="">
        </a>
        <h1>{{game.game}}</h1>
        <h2>{{game.platform}}</h2>
        <h3>{{game.score}}/5</h3>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<script src="/js/category.js"></script>