<link rel="stylesheet" href="/stylesheets/search.css">
<link rel="stylesheet" href="/stylesheets/game.css">

<div class="text-light search">
  <!--Breadcrumbs-->
  <nav class="pt-3 pb-2 px-3 bc-bg"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item inactive" aria-current="page">Search: {{searchedTerm}}</li>
    </ol>
  </nav>

  {{!-- Header --}}
  
  <section class="categories p-3">
            <div class="header">
              <h1>Results for: {{searchedTerm}}</h1>
            </div>
          </section>

  {{!-- content --}}
  {{#if games}}
  <div class="column">
    <div class="row flex-wrap grid">
      {{#each games as |game|}}
      {{> search-result}}
      {{/each}}
    </div>
  </div>
</div>

{{!-- {{#if games}}
<section class="p-3" id="home">
  <div class="row">
    {{#each games as |game|}}
    <a href="/game/{{game.id}}">
      <div class="col" id="details">
        <img src="{{game.image_url}}" alt="" />
        <h1>{{game.game}}</h1>
        <h3>{{game.platform}}</h3>
        <h3>{{game.score}}/10</h3>
      </div>
    </a>
    {{/each}}
  </div>
</section> --}}

{{else}}
<div class="container-fluid">
  <div class="row">
    <h3 class="h2-color">Sorry, there are no games for this search.
    </h3>
  </div>
</div>
{{/if}}


</div>
<script src="/javascript/search.js"></script>