<link rel="stylesheet" href="/stylesheets/single-game.css">
<link rel="stylesheet" href="/stylesheets/genre.css">
<div class="text-light">
  <!-- Breadcrumbs-->
  <nav class="pt-3 pb-2 px-3 bc-bg"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item inactive" aria-current="page">Game: {{game}}</li>
    </ol>
  </nav>

  <section class="game p-3">
    <div class="game-header" id="details" data-id={{id}}>

      <h2>
        <div id="gamename">{{game}}</div>
      </h2>
      <h5>{{genre}}</h5>
      <h6>{{platform}}</h6>
    </div>
    <div id="gamecover">
      <img src="../images/placeholder.jpg" alt="" srcset="">

    </div>

    <div class="col p-3" id="book-center">
      {{#if hasGame}}
      <button class="add-btn disabled" disabled>In Your Favorites</button> <br>
      <button class="delete-btn btn-danger">Remove from Your Favorites</button>
      {{else}}
      <button class="add-btn">Add to Your Favorites</button>
      {{/if}}

    </div>

  </section>
  <div class="sectioncard">
    <section class="card" style="width: 59rem">
      <div class="card-header">
        <h3>Reviews</h3>
      </div>
      {{#if reviews}}
      <div class="card-body">
        {{#each reviews as |review|}}
        <div style="background-color:#262528">
          <h4>
            "{{review.content}}" -- {{ user.name}} created at {{format_date review.date_created}}
          </h4>
        </div>
        {{/each}}
      </div>
    </section>
    {{/if}}
  </div>
  <form id="new-comment-form" class="card" style="width: 59rem">
    <div class="card-header">
      <h3>Add A New Review</h3>
    </div>

    <div class="card-body">

      <label class="form-label" for="comment-body">Review</label>

      <textarea id='review-content' name="comment-body" class="form-input" style="width: 54rem"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/javascript/favorites.js"></script>

<script src="/javascript/single-game.js"></script>
<script src="/javascript/comment.js"></script>