<article class="card">
  <div class="card-header flex-row justify-space-between">
    <h2>{{game}}</h2>
    <div>
      {{genre}}
    </div>
  </div>
  <div class="card-body">
    {{platform}}
  </div>
</article>

<section class="card">
  <div class="card-header">
    <h3>Reviews</h3>
  </div>

  <div class="card-body">

    <div>
      <p>
        {{!-- {{body}} --}}
      </p>
      <p>

      </p>
    </div>
  </div>
</section>

<form id="new-comment-form" class="card">
  <div class="card-header">
    <h3>Add A New Review</h3>
  </div>

  <div class="card-body">
    <input type="hidden" name="post-id" value="{{id}}" />

    <label class="form-label" for="comment-body">Review</label>

    <textarea name="comment-body" class="form-input"></textarea>

    <button type="submit" class="btn">Submit</button>
  </div>
</form>