<div class="text-light">
  <!--breadcrumbs-->
  <nav class="pt-3 pb-2 px-3 bc-bg"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item inactive" aria-current="page">Game: {{game}}</li>
    </ol>
  </nav>

  <section class="game p-3">
    <div class="game-header" id="details" data-id={{id}}>
      <h2>{{game}}</h2>
      <h5>{{genre}}</h5>
      <h5>{{platform}}</h5>
    </div>

    <div class="col p-3" id="book-center">
      {{#if hasGame}}
      <button id="add-btn" class="disabled" disabled>In Your Favorites</button> <br>
      <button id="delete-btn" class="btn-danger">Remove from Your Favorites</button>
      {{else}}
      <button id="add-btn">Add to Your Favorites</button>
      {{/if}}

    </div>

  </section>

  <section class="card">
    <div class="card-header">
      <h3>Reviews</h3>
    </div>

    <div class="card-body">

      <div>
        <p>
          {{!-- {{body}} --}}
        </p>
        <p>

        </p>
      </div>
    </div>
  </section>

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add A New Review</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="post-id" value="{{id}}" />

      <label class="form-label" for="comment-body">Review</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/javascript/favorites.js"></script>
<script src="/javascript/chosen-game.js"></script>